/*
    Document   : gol
    Created on : 16.04.2013, 23:58:00
    Author     : dominikschopper
    Description:
        Purpose of the stylesheet follows.
*/

.gol-playground {
    clear: both;
    height: auto;
    min-height: 100px;
    border: 1px solid green;
    background: #FAFAFA;
}

.gol-cell {
    margin: 1px;
    border: 1px solid #424242;
    height: 8px;
    width: 8px;
    float: left;
    background: white;
}

.active {
    background: lightgreen;
}


/* aside: form for specs! */

.specs {
	font-size: 0.75em;
}

.specs input {
	color: black;
	font-family: "Courier New", Courier, monospace;
	font-size: 0.75em;
}

.specs label {
	display: block;
	padding: 0.25em;

	color: black;
	background: silver;
}

.specs .timing {
	width: 50px;
}

.specs .short {
	width: 3em;
}

.specs textarea {
	width: 90%;
	height: 5em;
}
