/* 
    Document   : gol
    Created on : 16.04.2013, 23:58:00
    Author     : dominikschopper
    Description:
        Purpose of the stylesheet follows.
*/

.gol-playground {
    clear: both;
    height: auto;
    min-height: 100px;
    width: 1280px;
    border: 1px solid green;
    background: #FAFAFA;
}

.gol-cell {
    margin: 1px;
    border: 1px solid #424242;
    height: 12px;
    width: 12px;
    float: left;
    background: white;
}

.active {
    background: lightgreen;
}
