/*
    Document   : gol
    Created on : 16.04.2013, 23:58:00
    Author     : dominikschopper
    Description:
        Purpose of the stylesheet follows.
*/

.gol-playground {
    clear: both;
    height: auto;
    min-height: 100px;
    border: 1px solid green;
    background: #FAFAFA;
}

.gol-cell {
    margin: 1px;
    border: 1px solid #424242;
    height: 8px;
    width: 8px;
    float: left;
    background: white;
}

.active {
    background: lightgreen;
}

.topmargin {
    margin: 50px 0 0 0;
}

.playground-frame {
    margin: 3em 0;
}

/* aside: form for specs! */

aside h2,
aside h3,
aside h4 {
	margin: 0.125em 0;
}

aside p {
	margin: 0;
	font-size: 0.75em;
	line-height: 1em;
}

.specs {
	font-size: 0.75em;
	padding: 0.25em;
	background: silver;
	color: black;
}

.specs input {
	color: black;
	font-family: "Courier New", Courier, monospace;
	font-size: 0.8em;
	padding: 0.1em;
}

.specs label {
	display: block;
}

.specs .timing {
	width: 50px;
}

.specs .short {
	width: 3em;
}

.specs textarea {
	width: 90%;
	height: 5em;
}
